{% extends 'base.html.twig' %}

{% block title %}Алергия на пациент{% endblock %}
{% block header %}
    <div class="d-inline">
        <h4>Алергии на пациента</h4>
        {# <span>Място където може да добавяте нови работници</span> #}
    </div>
{% endblock %}
{% block breadcrumb %}
    {{ slope_it_breadcrumb() }}
{% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit">Запис</button>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascriptend %}
{% endblock %}
