{% extends 'base.html.twig' %}

{% block title %}Връзка с пациент{% endblock %}
{% block header %}
    <div class="d-inline">
        <h4>Връзка с пациент</h4>
        {# <span>Място където може да добавяте нови работници</span> #}
    </div>
{% endblock %}
{% block breadcrumb %}
    {{ slope_it_breadcrumb() }}
{% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}



{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascriptend %}
{% endblock %}
